# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build output
/build
/dist
/.parcel-cache
/.next
/out

# Logs
logs
*.log
logs/*.log

# Editor junk
.vscode/
.idea/
.DS_Store

# Mapbox token example
mapbox_token.txt
